.container {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.main-container {
  display: flex;
}

.info-wrapper,
.experience-education-wrapper {
  width: 50%;
  padding-left: 30px;
  padding-right: 30px;
}

.info-wrapper {
  background-color: $bg-grey;
  padding-top: 180px;
}
.experience-education-wrapper {
  background-color: $bg-light-grey;
}
.header__container {
  position: relative;
  height: 200px;
  width: 994px;
  background-image: url(../images/coding.jpg);
  background-size: cover;
  background-position: center;
}
.header__foto {
  width: 320px;
  height: 320px;
  position: absolute;
  left: 5%;
  top: 20%;
  object-fit: cover;
  border-radius: 50%;
}

.information__contacts-item:not(:last-child) {
  margin-bottom: 7px;
}
.information__contacts-item-link {
  display: flex;
  align-items: center;
}

.information__contacts-icon {
  margin-right: 5px;
  fill: $main-text-color;

  .information__contacts-item-link:hover &,
  .information__contacts-item-lin:focus & {
    fill: $accent-yellow-color;
  }
}
.information__block {
  margin-top: 30px;
}
.block-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $accent-yellow-color;
}
